{% extends 'base.html.twig' %}

{% block body %}

    <div class="text-center connectedUserAccueil">
        <p><b>Date du jour: {{ date }}</p>
        <p>Participant: {{ username }}</b></p>
    </div>

        <div class="text-center accueilTab">
            <div class="accueilTab1">
                <p><b>Filter les sorties</b></p>
                <label for="campus">Campus:</label>
                <select name="campus" id="campus" class="form-control">
                
                {% for unCampus in campus %}
                    <option>{{ unCampus.nom }}</option>
                {% endfor %}
                </select>
                <label for="search">Recherche par mot clé :</label>
                <input type="text" name="search" placeholder="Rechercher..." class="form-control">
                <label for="dateDebut">Entre:</label>
                <input type="date" name="dateDebut" id="dateDebut" class="form-control">
                <label for="dateFin">et:</label>
                <input type="date" name="dateFin" id="dateFin" class="form-control">

            </div>
        <div class="accueilTab2">
            <p><input type="checkbox" name="organisateur"> Sorties dont je suis l'organisateur</p>
            <p><input type="checkbox" name="inscrit"> Sorties auxquelles je suis inscrit</p>
            <p><input type="checkbox" name="non_inscrit"> Sorties auxquelles je ne suis pas inscrit</p>
            <p><input type="checkbox" name="passees"> Sorties passées</p>
        </div>
        <div class="accueilTab3">    
            <button type="submit" class="btn btn-primary">Recherche</button>
        </div>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Date de début</th>
            <th>Date limite d'inscription</th>
            <th>Nombre maximum d'inscriptions</th>
            <th>Etat</th>
            <th>Organisateur</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date('d/m/Y') }}</td>
                <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>
                    <a href="{{ path('participant_profil', { 'sortieId': sortie.id }) }}">
                        {{ sortie.organisateur.pseudo }}
                    </a>
                </td>
                <td>
                    {% if sortie.etat.libelle == 'Créée' or sortie.etat.libelle == 'Ouverte' %}
                        <a href="{{ path('sortie_annulation', { 'id': sortie.id }) }}"
                           type="submit">Annuler</a>
                    {% endif %}
                    <p> - </p>
                    {% if sortie.etat.libelle == 'Créée' or sortie.etat.libelle == 'Ouverte' %}
                        {% if app.user is not null and app.user.estInscrit(sortie) %}
                            <a href="{{ path('sortie_desistement', { 'id': sortie.id }) }}">Se désister</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    <a href="{{ path('app_sortie_creation') }}" class="btn btn-primary">Créer une sortie</a>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}